<?xml version="1.0" encoding="UTF-8"?>
<!-- Default settings for DEBIAN control file. -->
<!-- http://www.debian.org/doc/debian-policy/ch-controlfields.html -->
<settings>
    <name>Pavel Solin</name>
    <email>solin.pavel@gmail.com</email>
    <architecture>all</architecture>
    <version>1.0.0</version>
    <depends>debhelper (>= 8.0.0), autotools-dev</depends>
    <homepage>http://github.com/femhub/</homepage>
    <description><![CDATA[default description]]></description>
    <debug>0</debug>
    <destination>./femhub_deb</destination>
</settings>
